*{
    margin: auto;
    padding: auto;
    border: 0cap;
}
body{
    background-color: black;
}
h1{
    color: aqua;
    background-color: black;
     position: absolute;
    bottom: 700px;
    left: 500px;
}
img{
     max-width:100%;
    max-height:100%;
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: 400px;
    left: 750px;
    font-size: large;
    font-weight: 300;
}