
body{
   min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: flex-end; /* aligns content to the right */
  align-items: center;      /* vertical center */
  background: #000;  
}
img{
    max-width:100%;
    max-height:100%;
  position: absolute;
  left: 200px;
  top: 100px;
    font-size: large;
    font-weight: 300;
   
}
